<% @categories.each do |category| %>
  <div class="category-grid-container">
    <img src=<%= category.Icon %> class="category-image-logo"/>
    <p class="category-description-text"> <%= category.Name %> </p>
    <p class="category-amount-total"> <%= category.check_payment_total %> </p>
  </div>
<% end %>

<div class="add-category-button-container">
  <button class="add-category-button">
    <%= link_to "ADD CATEGORY", new_category_path, class: "add-category-button-link" %>
  </button>
</div>
