<%= form_with url: new_category_path, class: 'sign-up-form' do |f| %>
  <div class="sign-up-field">
    <%= f.text_field :Name, { class: "sign-up-input", autofocus: true, placeholder: "Category Name"} %>
  </div>

  <div class="sign-up-field">
    <%= f.text_field :Icon, autofocus: true, placeholder: "Icon URL", class: "sign-up-input" %>
  </div>

  <div class="create-inventory-button-container">
    <%= f.submit "Create Inventory", class: "create-inventory-button-link m-auto" %>
  </div>

<% end %>
