<p class="splash-header-text"> Budgetter App </p>

<button class="Log-In-Button_Container">
  <%= link_to "Log in", new_user_session_path, class: "Log-In-Button-Link" %><br />
</button>

<button class="Log-In-Button_Container">
  <%= link_to "Sign up", new_user_registration_path, class: "Log-In-Button-Link" %><br />
</button>